* {
    padding: 0;
    margin: 0;

}

.bg_body {
    background-image: url("images/9606a9c9-202e-47ac-a6cf-bbefacdb5e6f 1.png");
    background-repeat: no-repeat;
    background-position-y: -4px;
    background-position-x: -1px;
    display: flex;
    flex-direction: column;
    background-size: auto;
}

.heder_menu {
    display: flex;
}

.menu {
    width: 925px;
    height: 99px;

    background: rgba(30, 6, 33, 0.3);
}

.menu ul {
    display: flex;
    color: white;
}

.menu ul li {
    list-style-type: none;
}
.menu ul li:hover {
    cursor: pointer;
    color: red;
}

.menu ul li:nth-child(1) {
    margin: 38px 25px 34px 21px;

    width: 146px;
    height: 27px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

}

.menu ul li:nth-child(2) {
    margin: 37px 25px 35px 25px;
    width: 56px;
    height: 27px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.menu ul li:nth-child(3) {
    margin: 37px 26px 35px 25px;
    width: 221px;
    height: 27px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.menu ul li:nth-child(4) {
    margin: 37px 25px 35px 26px;
    width: 81px;
    height: 27px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

}

.menu ul li:nth-child(5) {
    margin: 38px 6px 36px 25px;
    width: 192px;
    height: 25px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.menu__btn {
    position: absolute;
    left: 282px;
    display: flex;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    margin-top: 50px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #616161;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

#menu__toggle, .menu__btn {
    display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.logo {
    display: flex;
}

.logo img:nth-child(1) {
    margin: 54px 42px 0 54.97px;
    width: 60px;
    height: 72px;
}

.logo img:nth-child(2) {
    margin: 72px 224px 0 0;
    width: 155px;
    height: 35px;
}


.clickByTour {
    width: 575px;
    height: 330px;
    margin: 145px 826.97px 168px 58.97px;
    background: rgba(30, 6, 33, 0.3);
    border: 1px solid rgba(30, 6, 33, 0);
}

.clickByTour h1 {
    display: inline-block;
    margin: 40px 27.56px 20px 32.69px;
    width: 514.75px;
    height: 48px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;

    color: #FFFFFF;
}

.clickByTour h2 {
    margin: 20px 27.25px 41px 33px;
    width: 514.75px;
    height: 54px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
}

.clickByTour div {
    width: 234.1px;
    height: 66px;
    background: #FFFDFD;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 314.9px 41px 26px;
}

.clickByTour div a {
    width: 149px;
    height: 27px;
    margin: 20px 42.1px 19px 43px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    padding: 0;
}

.clickByTour a:hover {
    cursor: pointer;
    color: red;
}

@media (max-width: 1600px) {
    .bg_body {
        width: 1600px;
        background-size: 100%;
    }

    .menu {
        width: 925px;
        height: 99px;
        margin-left: 139px;

        background: rgba(30, 6, 33, 0.3);
    }
}

@media (max-width: 1366px) {
    .bg_body {
        width: 1366px;
    }

    .menu {
        margin-left: 49px;
        width: 764px;
    }

    .clickByTour {
        width: 529px;
        height: 296px;
        margin: 107px 826.97px 168px 58.97px;
    }

    .clickByTour div {
        width: 208.1px;
        height: 52px;
    }

    .clickByTour div a {
        font-size: 16px;
    }

    .clickByTour h1 {
        margin: 40px 27.56px 8px 32.69px;
        width: 493.75px;
        font-size: 33px;
    }
}

@media (max-width: 1360px) {
    .bg_body {
        width: 1360px;
    }

    .menu {
        margin-left: 43px;
        width: 764px;
    }

    .menu ul li:nth-child(1) {
        margin: 38px 25px 34px 21px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;

        color: #FFFFFF;
    }

    .menu ul li:nth-child(2) {
        margin: 37px 25px 35px 25px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;
    }

    .menu ul li:nth-child(3) {
        margin: 37px 26px 35px 25px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;
    }

    .menu ul li:nth-child(4) {
        margin: 37px 25px 35px 26px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;

        color: #FFFFFF;
    }

    .menu ul li:nth-child(5) {
        margin: 38px 6px 36px 25px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
    }

    .clickByTour {
        width: 529px;
        height: 296px;
        margin: 107px 826.97px 168px 58.97px;
    }

    .clickByTour div {
        width: 208.1px;
        height: 52px;
    }

    .clickByTour div a {
        font-size: 16px;
    }

    .clickByTour h1 {
        margin: 40px 27.56px 8px 32.69px;
        width: 493.75px;
        font-size: 33px;
    }
}

@media (max-width: 1280px) {
    .bg_body {
        width: 1280px;
    }

    .menu {
        margin-left: -23px;
        width: 764px;
    }

    .menu ul li:nth-child(1) {
        margin: 38px 25px 34px 21px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;

        color: #FFFFFF;
    }

    .menu ul li:nth-child(2) {
        margin: 37px 25px 35px 25px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;
    }

    .menu ul li:nth-child(3) {
        margin: 37px 26px 35px 25px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;
    }

    .menu ul li:nth-child(4) {
        margin: 37px 25px 35px 26px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;

        color: #FFFFFF;
    }

    .menu ul li:nth-child(5) {
        margin: 38px 6px 36px 25px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
    }

    .clickByTour {
        width: 529px;
        height: 296px;
        margin: 107px 826.97px 168px 58.97px;
    }

    .clickByTour div {
        width: 208.1px;
        height: 52px;
    }

    .clickByTour div a {
        font-size: 16px;
    }

    .clickByTour h1 {
        margin: 40px 27.56px 8px 32.69px;
        width: 493.75px;
        font-size: 33px;
    }
}

@media (max-width: 1152px) {
    .bg_body {
        width: 1152px;
    }

    .menu {
        margin-left: -145px;
        width: 764px;
    }

    .menu ul li:nth-child(1) {
        margin: 38px 25px 34px 21px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;

        color: #FFFFFF;
    }

    .menu ul li:nth-child(2) {
        margin: 37px 25px 35px 25px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;
    }

    .menu ul li:nth-child(3) {
        margin: 37px 26px 35px 25px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;
    }

    .menu ul li:nth-child(4) {
        margin: 37px 25px 35px 26px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;

        color: #FFFFFF;
    }

    .menu ul li:nth-child(5) {
        margin: 38px 6px 36px 25px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
    }

    .clickByTour {
        width: 529px;
        height: 296px;
        margin: 107px 826.97px 168px 58.97px;
    }

    .clickByTour div {
        width: 208.1px;
        height: 52px;
    }

    .clickByTour div a {
        font-size: 16px;
    }

    .clickByTour h1 {
        margin: 40px 27.56px 8px 32.69px;
        width: 493.75px;
        font-size: 33px;
    }
}

@media (max-width: 1024px) {

    .bg_body {
        width: 1024px;
    }

    .menu {
        margin-left: 84px;
        width: 752px;
        height: 76px;
    }

    .logo img:nth-child(1) {
        margin: 20px 43px 0 84.97px;
    }

    .logo img:nth-child(2) {
        margin: 88px 230px 0 0;
    }

    .logo > img:nth-child(2) {
        position: absolute;
        top: 8px;
        left: 44px;
    }
}

@media (max-width: 480px) {

    .bg_body {
        background-size: 1600px;
    }

    .clickByTour {
        position: relative;
        top: 28px;
        left: -59px;
        width: 480px;
    }

    .clickByTour h1 {
        font-size: 30px;
    }

    .clickByTour h2 {
        margin-left: 27px;
    }

    .clickByTour div {
        margin: 0 auto;
        border-radius: 30px;
    }

    .menu__btn {
        display: block;
        width: 56px;
        margin-left: 30px;
        margin-top: 70px;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 56px;
        height: 2px;
        background-color: #616161;
    }

    .menu__btn > span::before {
        content: '';
        top: -16px;
    }

    .menu__btn > span::after {
        content: '';
        top: 16px;
    }

    .menu {
        background: none;
        height: 100%;
    }

    .menu ul li {
        display: none;
    }

    #menu__toggle:checked ~ .heder_menu .menu ul li {
        display: block;
        position: relative;
    }

    #menu__toggle:checked ~ .heder_menu .menu ul {
        display: flex;
        flex-direction: column;

    }

    #menu__toggle:checked ~ .heder_menu .menu {
        position: relative;
        top: 117px;
        right: 111px;
        margin: 0;

    }

    #menu__toggle:checked ~ .clickByTour {
        height: 196px;
        position: relative;
        top: 16px;
        left: -57px;
        width: 474px;
    }

    #menu__toggle:checked ~ .clickByTour h1 {
        margin: 10px;
        margin-bottom: 0;
        font-size: 20px;
        width: 480px;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    #menu__toggle:checked ~ .clickByTour h2 {
        margin: 10px;
        margin-top: 10px;
        font-size: 17px;
        width: 480px;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    #menu__toggle:checked ~ .clickByTour div{
        margin-top: 18px;
    }
}
@media (max-width: 414px) {

    .bg_body {
        background-size: 1600px;
        background-position-x: -2px;
    }

    .clickByTour {
        position: relative;
        top: 28px;
        left: -59px;
        width: 414px;

    }

    .clickByTour h1 {
        font-size: 25px;
    }

    .clickByTour h2 {
        margin-left: 27px;
        font-size: 17px;
        width: 414px;
    }

    .clickByTour div {
        margin: 0 auto;
        border-radius: 25px;
    }

    .menu__btn {
        display: block;
        width: 56px;
        margin-left: 30px;
        margin-top: 70px;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 56px;
        height: 2px;
        background-color: #616161;
    }

    .menu__btn > span::before {
        content: '';
        top: -16px;
    }

    .menu__btn > span::after {
        content: '';
        top: 16px;
    }

    .menu {
        background: none;
        height: 100%;
    }

    .menu ul li {
        display: none;
    }

    #menu__toggle:checked ~ .heder_menu .menu ul li {
        display: block;
        position: relative;
    }

    #menu__toggle:checked ~ .heder_menu .menu ul {
        display: flex;
        flex-direction: column;

    }

    #menu__toggle:checked ~ .heder_menu .menu {
        position: relative;
        top: 117px;
        right: 111px;
        margin: 0;

    }

    #menu__toggle:checked ~ .clickByTour {
        height: 196px;
        position: relative;
        top: 16px;
        left: -57px;
        width: 414px;
    }

    #menu__toggle:checked ~ .clickByTour h1 {
        margin: 10px auto;
        width: 414px;
    }

    #menu__toggle:checked ~ .clickByTour h2 {
        margin: 0px auto;
        width: 414px;
    }
    #menu__toggle:checked ~ .clickByTour div{

        margin-left: 100px;
        margin-top: 10px;
    }
}
@media (max-width: 360px) {

    .bg_body {
        background-size: 1600px;
        background-position-x: -100px;
    }

    .clickByTour {
        position: relative;
        top: 28px;
        left: -59px;
        width: 360px;
    }

    .clickByTour h1 {
        font-size: 21px;

    }

    .clickByTour h2 {
        margin-left: 17px;
        font-size: 15px;
        width: 360px;

    }

    .clickByTour div {
        margin: 0 auto;
        border-radius: 25px;
    }

    .menu__btn {
        display: block;
        width: 56px;
        margin-left: -10px;
        margin-top: 70px;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 56px;
        height: 2px;
        background-color: #616161;
    }

    .menu__btn > span::before {
        content: '';
        top: -16px;
    }

    .menu__btn > span::after {
        content: '';
        top: 16px;
    }

    .menu {
        background: none;
        height: 100%;
    }

    .menu ul li {
        display: none;
    }

    #menu__toggle:checked ~ .heder_menu .menu ul li {
        display: block;
        position: relative;
    }

    #menu__toggle:checked ~ .heder_menu .menu ul {
        display: flex;
        flex-direction: column;

    }

    #menu__toggle:checked ~ .heder_menu .menu {
        position: relative;
        top: 117px;
        right: 111px;
        margin: 0;

    }

    #menu__toggle:checked ~ .clickByTour {
        height: 196px;
        position: relative;
        top: 16px;
        left: -57px;
        width: 360px;
    }

    #menu__toggle:checked ~ .clickByTour h1 {

        width: 360px;
        margin: 5px auto;

    }

    #menu__toggle:checked ~ .clickByTour h2 {
        margin: 0;
        width: 360px;
        font-size: 15px;
    }
    #menu__toggle:checked ~ .clickByTour div {
        margin: 20px auto;
    }
}